server {
    listen {{www_kibana_port}};
    server_name 10.10.120.202;

    auth_basic "Restricted Access";
    auth_basic_user_file /etc/htpasswd.users;

    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
